<a href="https://colab.research.google.com/github/junio-firmino/Aprendizado_python/blob/master/soccer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = '/content/drive/MyDrive/soccer.csv'

In [4]:
players = pd.read_csv(data)

In [5]:
players.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

In [6]:
players.position.unique()

array(['LW', 'AM', 'GK', 'RW', 'CB', 'RB', 'CF', 'LB', 'DM', 'RM', 'CM',
       nan, 'SS', 'LM'], dtype=object)

In [7]:
players.shape

(465, 17)

In [8]:
players.position.isin(['LB'])

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461     True
462    False
463    False
464    False
Name: position, Length: 465, dtype: bool

In [9]:
players.loc[players.position.isin(['LB'])]

                      name               club  ...  big_club new_signing
7            Nacho Monreal            Arsenal  ...         1           0
18            Kieran Gibbs            Arsenal  ...         1           0
29          Sead Kolasinac            Arsenal  ...         1           0
34         Charlie Daniels        Bournemouth  ...         0           0
54              Brad Smith        Bournemouth  ...         0           0
62             Gaetan Bong  Brighton+and+Hove  ...         0           0
65          Markus Suttner  Brighton+and+Hove  ...         0           0
82            Stephen Ward            Burnley  ...         0           0
99   Marcos Alonso Mendoza            Chelsea  ...         1           1
112                 Kenedy            Chelsea  ...         1           0
119    Patrick van Aanholt     Crystal+Palace  ...         0           0
128        Jeffrey Schlupp     Crystal+Palace  ...         0           0
134            Pape Souare     Crystal+Palace  ...         0           0
138        Leighton Baines            Everton  ...         0           0
168             Chris Lowe       Huddersfield  ...         0           0
175           Scott Malone       Huddersfield  ...         0           0
196        Christian Fuchs     Leicester+City  ...         0           0
212           Ben Chilwell     Leicester+City  ...         0           0
236         Alberto Moreno          Liverpool  ...         1           0
251     Aleksandar Kolarov    Manchester+City  ...         1           0
270            Daley Blind  Manchester+United  ...         1           0
281              Luke Shaw  Manchester+United  ...         1           0
294           Paul Dummett   Newcastle+United  ...         0           0
298       Massadio Haidara   Newcastle+United  ...         0           0
312          Ryan Bertrand        Southampton  ...         0           0
328           Matt Targett        Southampton  ...         0           0
336           Erik Pieters         Stoke+City  ...         0           0
354             Josh Tymon         Stoke+City  ...         0           0
363          Martin Olsson            Swansea  ...         0           0
369       Stephen Kingsley            Swansea  ...         0           0
389             Ben Davies          Tottenham  ...         1           0
390             Danny Rose          Tottenham  ...         1           0
403           Jose Holebas            Watford  ...         0           0
455        Aaron Cresswell           West+Ham  ...         0           0
461         Arthur Masuaku           West+Ham  ...         0           1

[35 rows x 17 columns]

In [10]:
len(players.loc[players.position.isin(['LB'])])

35

In [11]:
players.get(players.position.isin(['LB']))

                      name               club  ...  big_club new_signing
7            Nacho Monreal            Arsenal  ...         1           0
18            Kieran Gibbs            Arsenal  ...         1           0
29          Sead Kolasinac            Arsenal  ...         1           0
34         Charlie Daniels        Bournemouth  ...         0           0
54              Brad Smith        Bournemouth  ...         0           0
62             Gaetan Bong  Brighton+and+Hove  ...         0           0
65          Markus Suttner  Brighton+and+Hove  ...         0           0
82            Stephen Ward            Burnley  ...         0           0
99   Marcos Alonso Mendoza            Chelsea  ...         1           1
112                 Kenedy            Chelsea  ...         1           0
119    Patrick van Aanholt     Crystal+Palace  ...         0           0
128        Jeffrey Schlupp     Crystal+Palace  ...         0           0
134            Pape Souare     Crystal+Palace  ...         0           0
138        Leighton Baines            Everton  ...         0           0
168             Chris Lowe       Huddersfield  ...         0           0
175           Scott Malone       Huddersfield  ...         0           0
196        Christian Fuchs     Leicester+City  ...         0           0
212           Ben Chilwell     Leicester+City  ...         0           0
236         Alberto Moreno          Liverpool  ...         1           0
251     Aleksandar Kolarov    Manchester+City  ...         1           0
270            Daley Blind  Manchester+United  ...         1           0
281              Luke Shaw  Manchester+United  ...         1           0
294           Paul Dummett   Newcastle+United  ...         0           0
298       Massadio Haidara   Newcastle+United  ...         0           0
312          Ryan Bertrand        Southampton  ...         0           0
328           Matt Targett        Southampton  ...         0           0
336           Erik Pieters         Stoke+City  ...         0           0
354             Josh Tymon         Stoke+City  ...         0           0
363          Martin Olsson            Swansea  ...         0           0
369       Stephen Kingsley            Swansea  ...         0           0
389             Ben Davies          Tottenham  ...         1           0
390             Danny Rose          Tottenham  ...         1           0
403           Jose Holebas            Watford  ...         0           0
455        Aaron Cresswell           West+Ham  ...         0           0
461         Arthur Masuaku           West+Ham  ...         0           1

[35 rows x 17 columns]

In [12]:
len(players.get(players.position.isin(['LB'])))

35

In [13]:
players_name = players.set_index('name')

In [14]:
players_name

                         club  age position  ...  club_id  big_club  new_signing
name                                         ...
Alexis Sanchez        Arsenal   28       LW  ...        1         1            0
Mesut Ozil            Arsenal   28       AM  ...        1         1            0
Petr Cech             Arsenal   35       GK  ...        1         1            0
Theo Walcott          Arsenal   28       RW  ...        1         1            0
Laurent Koscielny     Arsenal   31       CB  ...        1         1            0
...                       ...  ...      ...  ...      ...       ...          ...
Edimilson Fernandes  West+Ham   21       CM  ...       20         0            1
Arthur Masuaku       West+Ham   23       LB  ...       20         0            1
Sam Byram            West+Ham   23       RB  ...       20         0            0
Ashley Fletcher      West+Ham   21       CF  ...       20         0            1
Diafra Sakho         West+Ham   27       CF  ...       20         0            0

[465 rows x 16 columns]

In [15]:
players[players.name.isin(['Edimilson Fernandes'])]

                    name      club  age  ... club_id  big_club  new_signing
460  Edimilson Fernandes  West+Ham   21  ...      20         0            1

[1 rows x 17 columns]

In [16]:
players[players.name == 'Edimilson Fernandes']

                    name      club  age  ... club_id  big_club  new_signing
460  Edimilson Fernandes  West+Ham   21  ...      20         0            1

[1 rows x 17 columns]

In [17]:
players[players.position == 'LW']

                         name               club  ...  big_club new_signing
0              Alexis Sanchez            Arsenal  ...         1           0
9                  Alex Iwobi            Arsenal  ...         1           0
37           Junior Stanislas        Bournemouth  ...         0           0
39                Ryan Fraser        Bournemouth  ...         0           0
43                  Marc Pugh        Bournemouth  ...         0           0
52                 Max Gradel        Bournemouth  ...         0           0
71                Jiri Skalak  Brighton+and+Hove  ...         0           0
73               Jamie Murphy  Brighton+and+Hove  ...         0           0
96                Eden Hazard            Chelsea  ...         1           0
113          Eduardo Carvalho            Chelsea  ...         1           1
133               Bakary Sako     Crystal+Palace  ...         0           0
153           Yannick Bolasie            Everton  ...         0           1
159           Ademola Lookman            Everton  ...         0           0
177        Rajiv van La Parra       Huddersfield  ...         0           0
183                Harry Bunn       Huddersfield  ...         0           0
206              Demarai Gray     Leicester+City  ...         0           0
219                Sadio Mane          Liverpool  ...         1           1
237              Ben Woodburn          Liverpool  ...         1           0
240                 Sheyi Ojo          Liverpool  ...         1           0
246           Raheem Sterling    Manchester+City  ...         1           0
249                Leroy Sane    Manchester+City  ...         1           1
277             Jesse Lingard  Manchester+United  ...         1           0
305            Rolando Aarons   Newcastle+United  ...         0           0
313             DuÅ¡an TadiÄ‡        Southampton  ...         0           0
334         Marko ArnautoviÄ‡         Stoke+City  ...         0           0
346             Ramadan Sobhi         Stoke+City  ...         0           1
361           Wayne Routledge            Swansea  ...         0           0
373         Jefferson Montero            Swansea  ...         0           0
383             Son Heung-min          Tottenham  ...         1           0
398  Georges-Kevin N%27Koudou          Tottenham  ...         1           1
406            Nordin Amrabat            Watford  ...         0           0
416             Isaac Success            Watford  ...         0           1
428              Nacer Chadli          West+Brom  ...         0           1
437             James McClean          West+Brom  ...         0           0
438           Hal Robson-Kanu          West+Brom  ...         0           1
448                Andre Ayew           West+Ham  ...         0           1

[36 rows x 17 columns]

In [18]:
players.head(2)

             name     club  age  ... club_id  big_club  new_signing
0  Alexis Sanchez  Arsenal   28  ...       1         1            0
1      Mesut Ozil  Arsenal   28  ...       1         1            0

[2 rows x 17 columns]

In [19]:
players.nationality.unique()

array(['Chile', 'Germany', 'Czech Republic', 'England', 'France', 'Spain',
       'Nigeria', 'Switzerland', 'Wales', 'Brazil', 'Egypt', 'Argentina',
       'Colombia', 'Bosnia', 'Norway', 'Poland', 'Scotland', 'Congo DR',
       'Ireland', 'Netherlands', 'Australia', "Cote d'Ivoire", 'Finland',
       'Cameroon', 'Austria', 'Israel', 'Northern Ireland', 'Canada',
       'Belgium', 'Iceland', 'Serbia', 'Portugal', 'Ghana', 'South Korea',
       'Mali', 'Senegal', 'Curacao', 'Denmark', 'Slovenia',
       'Trinidad and Tobago', 'Bermuda', 'Benin', 'Algeria', 'Jamaica',
       'Japan', 'Tunisia', 'Croatia', 'Estonia', 'Ecuador', 'Armenia',
       'Italy', 'Sweden', 'United States', 'Morocco', 'The Gambia',
       'Kenya', 'Greece', 'Uruguay', 'Romania', 'Venezuela',
       'New Zealand'], dtype=object)

In [20]:
players.nationality.describe()

count         465
unique         61
top       England
freq          158
Name: nationality, dtype: object

In [21]:
players.new_signing.unique()

array([0, 1])

In [22]:
players.shape

(465, 17)

In [23]:
players.columns

Index(['name', 'club', 'age', 'position', 'position_cat', 'market_value',
       'page_views', 'fpl_value', 'fpl_sel', 'fpl_points', 'region',
       'nationality', 'new_foreign', 'age_cat', 'club_id', 'big_club',
       'new_signing'],
      dtype='object')

In [24]:
players[(players.position =='LB') &
        (players.age<=25)&
        (players.club.isin(['Tottenham','Arsenal','Swansea']))]

                 name       club  age  ... club_id  big_club  new_signing
29     Sead Kolasinac    Arsenal   24  ...       1         1            0
369  Stephen Kingsley    Swansea   22  ...      16         0            0
389        Ben Davies  Tottenham   24  ...      17         1            0

[3 rows x 17 columns]

In [25]:
players[players.club.isin(['Tottenham','Arsenal'])]

                         name       club  age  ... club_id  big_club  new_signing
0              Alexis Sanchez    Arsenal   28  ...       1         1            0
1                  Mesut Ozil    Arsenal   28  ...       1         1            0
2                   Petr Cech    Arsenal   35  ...       1         1            0
3                Theo Walcott    Arsenal   28  ...       1         1            0
4           Laurent Koscielny    Arsenal   31  ...       1         1            0
5             Hector Bellerin    Arsenal   22  ...       1         1            0
6              Olivier Giroud    Arsenal   30  ...       1         1            0
7               Nacho Monreal    Arsenal   31  ...       1         1            0
8            Shkodran Mustafi    Arsenal   25  ...       1         1            1
9                  Alex Iwobi    Arsenal   21  ...       1         1            0
10               Granit Xhaka    Arsenal   24  ...       1         1            0
11               Granit Xhaka    Arsenal   24  ...       1         1            0
12    Alex Oxlade-Chamberlain    Arsenal   23  ...       1         1            0
13    Alex Oxlade-Chamberlain    Arsenal   23  ...       1         1            0
14              Jack Wilshere    Arsenal   25  ...       1         1            0
15               Aaron Ramsey    Arsenal   26  ...       1         1            0
16           Francis Coquelin    Arsenal   26  ...       1         1            0
17           Gabriel Paulista    Arsenal   26  ...       1         1            0
18               Kieran Gibbs    Arsenal   27  ...       1         1            0
19              Santi Cazorla    Arsenal   32  ...       1         1            0
20              Danny Welbeck    Arsenal   26  ...       1         1            0
21                Rob Holding    Arsenal   21  ...       1         1            1
22             Mohamed Elneny    Arsenal   25  ...       1         1            0
23    Alex Oxlade-Chamberlain    Arsenal   23  ...       1         1            0
24                Lucas Perez    Arsenal   28  ...       1         1            1
25          Emiliano Martinez    Arsenal   24  ...       1         1            0
26               David Ospina    Arsenal   28  ...       1         1            0
27             Carl Jenkinson    Arsenal   25  ...       1         1            0
28            Per Mertesacker    Arsenal   32  ...       1         1            0
29             Sead Kolasinac    Arsenal   24  ...       1         1            0
30               Granit Xhaka    Arsenal   24  ...       1         1            0
31        Alexandre Lacazette    Arsenal   26  ...       1         1            0
380                 Dele Alli  Tottenham   21  ...      17         1            0
381                Harry Kane  Tottenham   23  ...      17         1            0
382         Christian Eriksen  Tottenham   25  ...      17         1            0
383             Son Heung-min  Tottenham   25  ...      17         1            0
384               Hugo Lloris  Tottenham   30  ...      17         1            0
385            Jan Vertonghen  Tottenham   30  ...      17         1            0
386         Toby Alderweireld  Tottenham   28  ...      17         1            0
387            Victor Wanyama  Tottenham   26  ...      17         1            1
388                 Eric Dier  Tottenham   23  ...      17         1            0
389                Ben Davies  Tottenham   24  ...      17         1            0
390                Danny Rose  Tottenham   27  ...      17         1            0
391             Mousa Dembele  Tottenham   30  ...      17         1            0
392           Vincent Janssen  Tottenham   23  ...      17         1            1
393           Kieran Trippier  Tottenham   26  ...      17         1            0
394           Moussa Sissokho  Tottenham   27  ...      17         1            1
395               Harry Winks  Tottenham   21  ...      17         1            0
396               Erik Lamela  Tottenham   25  ...      17         1            0
397               Michel Vorm  Tottenham   33  ...      17         1            0
398  Georges-Kevin N%27Koudou  Tottenham   22  ...      17         1            1
399              Kevin Wimmer  Tottenham   24  ...      17         1            0

[52 rows x 17 columns]

In [26]:
players.club.unique()

array(['Arsenal', 'Bournemouth', 'Brighton+and+Hove', 'Burnley',
       'Chelsea', 'Crystal+Palace', 'Everton', 'Huddersfield',
       'Leicester+City', 'Liverpool', 'Manchester+City',
       'Manchester+United', 'Newcastle+United', 'Southampton',
       'Stoke+City', 'Swansea', 'Tottenham', 'Watford', 'West+Brom',
       'West+Ham'], dtype=object)

In [27]:
chelsea_23under = (players.club == 'Chelsea') & (players.age.le(23))

In [28]:
chelsea_23under.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [29]:
p_cols = players.columns.str.startswith('p')

In [30]:
players.loc[chelsea_23under,p_cols]

    position  position_cat  page_views
110       CF             1        1162
111       CB             3         723
112       LB             3         566
115       DM             2        1011

In [31]:
players.columns

Index(['name', 'club', 'age', 'position', 'position_cat', 'market_value',
       'page_views', 'fpl_value', 'fpl_sel', 'fpl_points', 'region',
       'nationality', 'new_foreign', 'age_cat', 'club_id', 'big_club',
       'new_signing'],
      dtype='object')

In [32]:
sorted(players.columns)

['age',
 'age_cat',
 'big_club',
 'club',
 'club_id',
 'fpl_points',
 'fpl_sel',
 'fpl_value',
 'market_value',
 'name',
 'nationality',
 'new_foreign',
 'new_signing',
 'page_views',
 'position',
 'position_cat',
 'region']

In [33]:
players.sort_values(by='age',ascending=True)

                       name               club  ...  big_club new_signing
237            Ben Woodburn          Liverpool  ...         1           0
354              Josh Tymon         Stoke+City  ...         0           0
439           Jonathan Leko          West+Brom  ...         0           0
235  Trent Alexander-Arnold          Liverpool  ...         1           0
274         Marcus Rashford  Manchester+United  ...         1           0
..                      ...                ...  ...       ...         ...
340            Peter Crouch         Stoke+City  ...         0           0
150            Gareth Barry            Everton  ...         0           0
35              Artur Boruc        Bournemouth  ...         0           0
424          Gareth McAuley          West+Brom  ...         0           0
136          Julian Speroni     Crystal+Palace  ...         0           0

[465 rows x 17 columns]

In [34]:
players.iloc[players.age.idxmin()]

name            Ben Woodburn
club               Liverpool
age                       17
position                  LW
position_cat               1
market_value             1.5
page_views              1241
fpl_value                4.5
fpl_sel                0.10%
fpl_points                 5
region                     1
nationality            Wales
new_foreign                0
age_cat                    1
club_id                   10
big_club                   1
new_signing                0
Name: 237, dtype: object

In [35]:
players.loc[players.age.isin([37])]

               name         club  age  ... club_id  big_club  new_signing
35      Artur Boruc  Bournemouth   37  ...       2         0            0
424  Gareth McAuley    West+Brom   37  ...      19         0            0

[2 rows x 17 columns]

In [36]:
players.get(players.age.isin([37]))

               name         club  age  ... club_id  big_club  new_signing
35      Artur Boruc  Bournemouth   37  ...       2         0            0
424  Gareth McAuley    West+Brom   37  ...      19         0            0

[2 rows x 17 columns]

In [37]:
players.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Length: 465, dtype: bool

In [38]:
players.get(players.duplicated())

                       name     club  age  ... club_id  big_club  new_signing
11             Granit Xhaka  Arsenal   24  ...       1         1            0
13  Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0
23  Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0

[3 rows x 17 columns]

In [39]:
players[players.duplicated()]

                       name     club  age  ... club_id  big_club  new_signing
11             Granit Xhaka  Arsenal   24  ...       1         1            0
13  Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0
23  Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0

[3 rows x 17 columns]

In [40]:
players.drop(labels=['club','age'], axis='columns')

                    name position  position_cat  ...  club_id  big_club  new_signing
0         Alexis Sanchez       LW             1  ...        1         1            0
1             Mesut Ozil       AM             1  ...        1         1            0
2              Petr Cech       GK             4  ...        1         1            0
3           Theo Walcott       RW             1  ...        1         1            0
4      Laurent Koscielny       CB             3  ...        1         1            0
..                   ...      ...           ...  ...      ...       ...          ...
460  Edimilson Fernandes       CM             2  ...       20         0            1
461       Arthur Masuaku       LB             3  ...       20         0            1
462            Sam Byram       RB             3  ...       20         0            0
463      Ashley Fletcher       CF             1  ...       20         0            1
464         Diafra Sakho       CF             1  ...       20         0            0

[465 rows x 15 columns]

In [41]:
players.drop(labels=[0,1,3])

                    name      club  age  ... club_id  big_club  new_signing
2              Petr Cech   Arsenal   35  ...       1         1            0
4      Laurent Koscielny   Arsenal   31  ...       1         1            0
5        Hector Bellerin   Arsenal   22  ...       1         1            0
6         Olivier Giroud   Arsenal   30  ...       1         1            0
7          Nacho Monreal   Arsenal   31  ...       1         1            0
..                   ...       ...  ...  ...     ...       ...          ...
460  Edimilson Fernandes  West+Ham   21  ...      20         0            1
461       Arthur Masuaku  West+Ham   23  ...      20         0            1
462            Sam Byram  West+Ham   23  ...      20         0            0
463      Ashley Fletcher  West+Ham   21  ...      20         0            1
464         Diafra Sakho  West+Ham   27  ...      20         0            0

[462 rows x 17 columns]

In [42]:
unwanted_rows = [1,2,3,4]
unwanted_columns = ['name', 'position', 'position_cat']

In [43]:
players.reindex(index=set(players.index).difference(unwanted_rows))

                    name      club  age  ... club_id  big_club  new_signing
0         Alexis Sanchez   Arsenal   28  ...       1         1            0
5        Hector Bellerin   Arsenal   22  ...       1         1            0
6         Olivier Giroud   Arsenal   30  ...       1         1            0
7          Nacho Monreal   Arsenal   31  ...       1         1            0
8       Shkodran Mustafi   Arsenal   25  ...       1         1            1
..                   ...       ...  ...  ...     ...       ...          ...
460  Edimilson Fernandes  West+Ham   21  ...      20         0            1
461       Arthur Masuaku  West+Ham   23  ...      20         0            1
462            Sam Byram  West+Ham   23  ...      20         0            0
463      Ashley Fletcher  West+Ham   21  ...      20         0            1
464         Diafra Sakho  West+Ham   27  ...      20         0            0

[461 rows x 17 columns]

In [44]:
players.reindex(
    index=set(players.index).difference(unwanted_rows),
    columns= set (players.columns).difference(unwanted_columns))

     new_foreign  age_cat  nationality  ...  fpl_sel  new_signing market_value
0              0        4        Chile  ...   17.10%            0         65.0
5              0        2        Spain  ...   13.70%            0         30.0
6              0        4       France  ...    2.50%            0         22.0
7              0        4        Spain  ...    4.70%            0         13.0
8              0        3      Germany  ...    4.00%            1         30.0
..           ...      ...          ...  ...      ...          ...          ...
460            0        1  Switzerland  ...    0.40%            1          5.0
461            0        2     Congo DR  ...    0.20%            1          7.0
462            0        2      England  ...    0.30%            0          4.5
463            0        1      England  ...    5.90%            1          1.0
464            0        3      Senegal  ...    0.10%            0         10.0

[461 rows x 14 columns]

In [45]:
players[players.isna().values]

                  name            club  age  ... club_id  big_club  new_signing
30        Granit Xhaka         Arsenal   24  ...       1         1            0
30        Granit Xhaka         Arsenal   24  ...       1         1            0
192       Steve Mounie    Huddersfield   22  ...       8         0            0
195  Kasper Schmeichel  Leicester+City   30  ...       9         0            0

[4 rows x 17 columns]

In [46]:
players.drop(['club','age'], axis=1)

                    name position  position_cat  ...  club_id  big_club  new_signing
0         Alexis Sanchez       LW             1  ...        1         1            0
1             Mesut Ozil       AM             1  ...        1         1            0
2              Petr Cech       GK             4  ...        1         1            0
3           Theo Walcott       RW             1  ...        1         1            0
4      Laurent Koscielny       CB             3  ...        1         1            0
..                   ...      ...           ...  ...      ...       ...          ...
460  Edimilson Fernandes       CM             2  ...       20         0            1
461       Arthur Masuaku       LB             3  ...       20         0            1
462            Sam Byram       RB             3  ...       20         0            0
463      Ashley Fletcher       CF             1  ...       20         0            1
464         Diafra Sakho       CF             1  ...       20         0            0

[465 rows x 15 columns]

In [47]:
players.fillna({'market_value':players.market_value.mean(),
                'position':'RM'}).loc[[30,192,195]]

                  name            club  age  ... club_id  big_club  new_signing
30        Granit Xhaka         Arsenal   24  ...       1         1            0
192       Steve Mounie    Huddersfield   22  ...       8         0            0
195  Kasper Schmeichel  Leicester+City   30  ...       9         0            0

[3 rows x 17 columns]

In [48]:
players.dropna(how='any', axis=1).loc[[30,192,195]]

                  name            club  age  ...  club_id  big_club  new_signing
30        Granit Xhaka         Arsenal   24  ...        1         1            0
192       Steve Mounie    Huddersfield   22  ...        8         0            0
195  Kasper Schmeichel  Leicester+City   30  ...        9         0            0

[3 rows x 15 columns]

In [49]:
players.shape

(465, 17)

In [50]:
players[players.name.isin(['Alex Oxlade-Chamberlain'])]

                       name     club  age  ... club_id  big_club  new_signing
12  Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0
13  Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0
23  Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0

[3 rows x 17 columns]

In [51]:
players[players.name.isin(['Granit Xhaka'])]

            name     club  age  ... club_id  big_club  new_signing
10  Granit Xhaka  Arsenal   24  ...       1         1            0
11  Granit Xhaka  Arsenal   24  ...       1         1            0
30  Granit Xhaka  Arsenal   24  ...       1         1            0

[3 rows x 17 columns]

In [52]:
players[players.duplicated()]

                       name     club  age  ... club_id  big_club  new_signing
11             Granit Xhaka  Arsenal   24  ...       1         1            0
13  Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0
23  Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0

[3 rows x 17 columns]

In [53]:
players.agg(np.min)

name            Aaron Cresswell
club                    Arsenal
age                          17
position_cat                  1
market_value               0.05
page_views                    3
fpl_value                     4
fpl_sel                   0.00%
fpl_points                    0
region                        1
nationality             Algeria
new_foreign                   0
age_cat                       1
club_id                       1
big_club                      0
new_signing                   0
dtype: object

In [54]:
players.agg('min')

name            Aaron Cresswell
club                    Arsenal
age                          17
position_cat                  1
market_value               0.05
page_views                    3
fpl_value                     4
fpl_sel                   0.00%
fpl_points                    0
region                        1
nationality             Algeria
new_foreign                   0
age_cat                       1
club_id                       1
big_club                      0
new_signing                   0
dtype: object

In [55]:
mini_df = players.loc[:, ['market_value','fpl_value']]

In [56]:
inflation = 1.02

In [58]:
mini_df*inflation

     market_value  fpl_value
0           66.30      12.24
1           51.00       9.69
2            7.14       5.61
3           20.40       7.65
4           22.44       6.12
..            ...        ...
460          5.10       4.59
461          7.14       4.59
462          4.59       4.59
463          1.02       4.59
464         10.20       5.61

[465 rows x 2 columns]

In [59]:
def get_popularity(x):
  if x<220:
    return 'Relatively unkmown'
  elif x<600:
    return 'Kind of popular'
  elif x<2000:
    return 'Popular'
  else:
    return 'Super-popular'

In [61]:
players.page_views.apply(get_popularity)

0           Super-popular
1           Super-popular
2                 Popular
3           Super-popular
4                 Popular
              ...
460       Kind of popular
461    Relatively unkmown
462    Relatively unkmown
463       Kind of popular
464    Relatively unkmown
Name: page_views, Length: 465, dtype: object

In [63]:
players['popularity'] = players.page_views.apply(get_popularity)

In [65]:
players.columns

Index(['name', 'club', 'age', 'position', 'position_cat', 'market_value',
       'page_views', 'fpl_value', 'fpl_sel', 'fpl_points', 'region',
       'nationality', 'new_foreign', 'age_cat', 'club_id', 'big_club',
       'new_signing', 'popularity'],
      dtype='object')